<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
     <header th:fragment="header">
       <div class="navbar navbar-dark bg-dark shadow-sm">
         <div class="container d-flex justify-content-between">
             <a href="#" th:href="@{/}" class="navbar-brand d-flex align-items-center">
                 <strong>Spring MVC Bean Scopes Example</strong>
             </a>
         </div>
       </div>
     </header>
</body>
</html>