<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="row mb-3" th:fragment="request-scope-form">
        <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Request Scope Example</h5>
                   <p class="card-text">Current value in request scope is: [ <span th:text="${requestScopeValue}"></span>]</p>


                   <form action="#" th:action="@{/saveRequestScopeValue}" method="post">
                       <div class="form-group">
                           <label for="requestScopeValue">Value to be set on Request Scope Level</label>
                           <input type="text" name="requestScopeValue" id="requestScopeValue"
                           class="form-control"  required>
                       </div>
                       <button type="submit" class="btn btn-primary">Submit</button>
                   </form>
               </div>
            </div>
        </div>
    </div>
</body>
</html>